<div ng-cloak="">
  <md-content class="aboutInfo">
    <h1 class="md-display-1">About Me</h1>
    <p class="md-headline">Hey, as might already know I am a web developer. I code and design things for the web. I enjoy learning new frameworks, libraries and languages. My confidence in javascript exceeds all others. I use Angular to build modular front-end applications, and Rails to incorporate backend functionality if need be. For smaller projects I choose Wordpress to save time.</p><br>
    <p class="md-headline">In addition to web development I have delved into mobile development a bit and have also taken a crack at unity, and have an iOS game in the works. I love to learn new things, in August I learn how to use music production software, so I guess you could call me a sound developer/ designer too.</p><br>
    <p class="md-headline">Life is fleeting and I just want to do some cool stuff.</p>
  </md-content>
  <md-divider></md-divider>
  <md-content class="aboutInfo">
    <h1 class="md-display-1">Work</h1>
    <p class="md-headline">I am currently freelancing and consulting, doing mostly front end development.</p><br>
    <p class="md-headline">While I enjoy the freedom and ability to make my own schedule, I plan on finishing out a few more projects and looking for full time work this coming summer.</p><br>
    <p class="md-headline">Here is a highlight of my projects...</p>
  </md-content>
  <md-content class="workTnfo">
    <md-tabs md-dynamic-height="" md-border-bottom="" class="gray">
      <md-tab ng-repeat="i in info" label="{{i.name}}">
        <!-- <md-content class="md-padding"> -->
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <h1 class="md-display-1">{{i.name}}</h1>
                <p class="md-title">{{i.description}}</p>
                <div>
                  <p class="md-title" style="font-style: italic; color: #adadad; margin:0; padding:0; display:inline-block;">status:</p>
                  <md-button ng-disabled="true" style="margin:0; padding:0; font-size:16px; display:inline-block;">{{i.status}}</md-button>
                </div>
              </md-card-title-text>
            </md-card-title>
            <md-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
              <md-button target="_blank" href="{{i.site}}" class="md-primary">  <md-icon md-svg-icon="link"></md-icon>Site</md-button>
              <md-button target="_blank" href="{{i.github}}" class="md-primary">  <md-icon md-svg-icon="link"></md-icon>Github</md-button>
            </md-card-actions>

          </md-content>
          </md-card>
        <!-- </md-content> -->
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<md-divider></md-divider>
<md-content class="aboutInfo">
<h3 class="md-display-1">Skillset</h3>
<md-grid-list
        md-cols="1" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="8px" md-gutter-gt-sm="" ng-cloak="">
    <md-grid-tile md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  class="gray">
      <md-icon md-svg-icon="html" class="pad grayVg" aria-label="html5"></md-icon>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  class="gray">
      <md-icon md-svg-icon="css" class="pad grayVg" aria-label="css3"></md-icon>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  class="gray">
      <md-icon md-svg-icon="js" class="pad grayVg" aria-label="javascript"></md-icon>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  class="gray">
      <md-icon md-svg-icon="angular" class="pad grayVg" aria-label="angular"></md-icon>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  class="gray">
      <md-icon md-svg-icon="rails" class="pad grayVg" aria-label="rails"></md-icon>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
                  class="gray">
      <md-icon md-svg-icon="wp" class="pad grayVg" aria-label="wordpress"></md-icon>
    </md-grid-tile>
  </md-grid-list>
</md-content>
