<md-content>
  <h1 class="md-display-1" style="text-align:center;">lets work together</h1>
</md-content>
<md-content class="contactInfo">
  <md-button href="http://linkedin.com" target="_blank" class="btn2">
  <div>
  <md-icon md-svg-icon="cell"></md-icon>
  </div>
  <div>
    <p> Cell </p>
  </div>
  </md-button>
  <md-button href="http://linkedin.com" target="_blank" class="btn2">
  <div>
  <md-icon md-svg-icon="email"></md-icon>
  </div>
  <div class="md-list-item-text">
    <p> Email </p>
  </div>
  </md-button>
  <md-button href="http://linkedin.com" target="_blank" class="btn2">
  <div>
  <md-icon md-svg-icon="link"></md-icon>
  </div>
  <div class="md-list-item-text">
    <p> LinkedIn </p>
  </div>
</md-button>
  <md-button href="http://github.com/dmbarrett" target="_blank" class="btn2">
    <div>
    <md-icon md-svg-icon="link"></md-icon>
    </div>
    <div class="md-list-item-text">
      <p> GitHub </p>
    </div>
  </md-button>
</md-content>
