<md-content>
  <h1 class="md-display-1" style="text-align:center;">lets work together</h1>
</md-content>
<md-content class="contactInfo">
  <md-button href="tel:+19738682393" class="btn2 md-raised">
  <div>
    <p class="md-headline"> Cell </p>
  </div>
  <div flex class="hide-gt-sm"></div>
  <div>
  <md-icon md-svg-icon="cell"></md-icon>
  </div>
  </md-button>
  <md-button href="mailto:db@danielbarrett.co" target="_blank" class="btn2 md-raised">
  <div class="md-list-item-text">
    <p class="md-headline"> Email </p>
  </div>
  <div flex class="hide-gt-sm"></div>
  <div>
    <md-icon md-svg-icon="email"></md-icon>
  </div>
  </md-button>
  <md-button href="http://linkedin.com" target="_blank" class="btn2 md-raised">
  <div class="md-list-item-text">
    <p class="md-headline"> LinkedIn </p>
  </div>
  <div flex class="hide-gt-sm"></div>
  <div>
    <md-icon md-svg-icon="link"></md-icon>
  </div>
</md-button>
  <md-button href="http://github.com/dmbarrett" target="_blank" class="btn2 md-raised">
    <div class="md-list-item-text">
      <p class="md-headline"> GitHub </p>
    </div>
    <div flex class="hide-gt-sm"></div>
    <div>
      <md-icon md-svg-icon="link"></md-icon>
    </div>
  </md-button>
</md-content>
