<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="6px" md-gutter-gt-sm="6px" >
    <md-grid-tile class="mainGriddy"
        md-rowspan="2" md-colspan="4" md-colspan-gt-md="6" md-colspan-sm="2" md-rowspan-sm="1" md-colspan-xs="1" md-rowspan-xs=".5">
        <div class="wrap1">
          <h1 class="md-display-1">My name is Daniel and I am a Full Stack Web Developer.</h1>
        </div>
    </md-grid-tile>
    <md-grid-tile class="riddy1" md-rowspan="1" md-colspan="2" md-colspan-gt-md="3" md-colspan-sm="1" md-rowspan-sm=".5" md-colspan-xs="1" md-rowspan-xs=".5">
      <div class="wrap2">
        <h3 class="md-headline">Designer</h3>
        <p class="md-subhead">Confident in responsive design, material design, and UI/UX design.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="riddy2" md-rowspan="1" md-colspan="2" md-colspan-gt-md="3" md-colspan-sm="1" md-rowspan-sm=".5" md-colspan-xs="1" md-rowspan-xs=".5">
      <div class="wrap2">
        <h3 class="md-headline">Developer</h3>
        <p class="md-subhead">Confident in html5, css3, javascript, and ruby. Good with php, and sql.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="riddy1" md-rowspan="1" md-colspan="2" md-colspan-gt-md="3" md-colspan-sm="1" md-rowspan-sm=".5" md-colspan-xs="1" md-rowspan-xs=".5">
      <div class="wrap2">
        <h3 class="md-headline">Tools</h3>
        <p class="md-subhead">Building with Angular, Rails, or Wordpress based on project.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="riddy2" md-rowspan="1" md-colspan="2" md-colspan-gt-md="3" md-colspan-sm="1" md-rowspan-sm=".5" md-colspan-xs="1" md-rowspan-xs=".5">
      <div class="wrap2">
        <h3 class="md-headline">Always..</h3>
        <p class="md-subhead">..learning new things and ready for new challenges.</p>
      </div>
    </md-grid-tile>
  </md-grid-list>
