
/* general element restyles */

html, body {
  font-size:14px;
  height:100%;
  margin:0;
  padding:0;
}
h1, h3, p {
  color: #555555;
}
h1, h3 {
  letter-spacing: -1px;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  letter-spacing:2px;
}
p{
  font-family: 'Cardo', serif;
}

.gray {
  background: #f5f5f5; }

/***** Header Bar *****/

/* header */
md-toolbar {
  min-height:60px;
  max-height: 60px;
  padding-left:5px;
  background-color:#006064 !important ;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  md-toolbar h1, md-toolbar p {
    line-height: 44px !important;
    margin:0;
    color: #ffffff;
  }
  md-toolbar p {
    line-height: 24px !important;
  }

  /* sidenav button */
  .btn0 {
    color: #555555;
    margin: 8px;
    height:48px;
    width:48px !important;
    border-radius: 8px;
    border: none;
    outline: none;
  }
    .btn0 md-icon {
      height:36px;
      width:36px;
    }

/* link list */
md-list {
  max-height: 500px;
}
.navi md-list-item{
  width:100%;
  margin: 10px auto;
  text-align:left !important;
}
.navi a md-icon svg {
  margin-top: -2px;
  fill:#555555;
  height:24px;
  width:24px;
}
.naviHead {
  width:80% !important;
  margin: 10px auto;
  border-radius:10px;
  background-color: #5555555 !important;
}
  /* md-btn restyle */
  md-list-item .btn1 {
    color: #555555;
    padding: 10px;
    margin: 0;
    min-width: 100%;
    border-radius: 0;
    font-size: 24px;
    text-align: center;
    text-transform:capitalize;
    text-decoration:none;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
  }

  md-list-item .name {
    font-size: 34px;
    text-align: center;
    width: 100%;
    padding:0;
    margin:10px auto;
    border-radius: 10px;
    font-weight: 400;
  }
  /* headshot */
  .avatar {
    width:100%;
  }
  img {
    postion: relative;
    width: 128px;
    height: 128px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin:0;
    vertical-align:middle;
    /*zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);*/
  }


/***** Home Partial *****/

/* responsive grid */
md-grid-list {
  padding: 0;
  margin:0;
}

  /* griddys */
  md-grid-tile {
    transition: all 400ms ease-out 50ms;
   }
    md-grid-tile h1 {
       text-align: center;
       padding:50px;
    }
    md-grid-tile div {
        display:block;
    }
      md-grid-tile div h3 {
        text-align: center;
        margin:0 !important;
      }
      md-grid-tile div p {
        text-align: center;
        padding: 0 50px;
      }


  /* main grid info */
  .mainGriddy {
    /*background: #dcedc8;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* supporting grid info */
  .griddy1 {
    background: #c5e1a5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .griddy2 {
    /*background: #aed581;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

   /* color wrappers */
   .wrap1 {
     height:100%;
     width:100%;
     background-color: rgba(220,237,200,0.8);
     display:flex;
     flex-direction:row;
     align-items: center;
     justify-content: center;
   }
   .wrap2 {
     height:100%;
     width:100%;
     background-color: rgba(207,216,220,0.9);
     display:flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
   }


/***** About Partial *****/


/* ParaSnippPhrase */
.aboutInfo {
  padding: 25px 50px;
  padding-bottom: 50px;
}

/* Projects Display */
md-card-actions a md-icon svg {
  fill: #999999;
}
md-tabs {
  border-radius: 5px;
  margin:10px 0;
}
  .workTnfo {
    padding:0 25px;
    padding-bottom: 50px;
  }
  md-card{
    margin:25px;
  }
    md-card h1, p{
      margin:0;
    }
  /* skillset grid */
  md-grid-tile md-icon {
    margin:0;
    height:100%;
    width:75%;
  }
    md-grid-tile md-icon svg {
      height: 100%;
      width: 75%;
      margin: 0 auto;
    }
    /* skillset svg restyles */
    .pad {
      padding:15%;
    }
    .grayVg path, polygon {
      fill: #999999;
      /*stroke: black;
      stroke-width: 10px;*/
    }


/***** Contact Partial *****/


/* container */
.contactInfo {
  padding: 25px 50px;
}

  /* contact buttons */
  .btn2 {
    color: #555555;
    padding: 10px;
    margin: 0;
    min-width: 100%;
    border-radius: 0;
    font-size: 20px;
    text-transform:lowercase;
    text-decoration:none;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
  }
    .contactInfo .btn2 md-icon {
      height: 64px;
      width: 64px;
      padding: 0;
      margin: 0;
    }
      .contactInfo .btn2 md-icon svg{
        fill:#999999;
      }
      .contactInfo .btn2 div p {
        margin:0;
        text-align: right;
        padding-left: 12px !important;
      }
